*.log
*~
*.o
*.a
*.bak
a.out
Makefile
.deps
config.status
config.h
stamp-h1
libtool
.libs
*.la
*.lo
samples/MOI-estimate
samples/cartesian2d-test
samples/run-test
src/ypspur-coordinator
src/ypspur-free
src/ypspur-interpreter
*.coff
*.mot
*.elf
autom4te.cache/
*.bz2
*.gz
*.zip
*.def
*.dll
*.lib
*.exe
*.patch
.spurip_history
